.conteiner{
    width: calc(100% - 32px) / 3;
}

.img{
    width: '100%';
    height: '200px';
    object-fit: 'contain' ;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px 0;
  color: #212529;
}

.content {
  margin: 0;
  flex-grow: 1;
  font-size: 14px;
  color: #495057;
  margin-bottom: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}




